 *{margin: 0;font-family: 'Open Sans', sans-serif;}
 nav{display: flex;justify-content: space-between;margin: 51px 100px;}
 nav li{list-style: none;margin-left: 50px;}
nav ul{display: flex;align-items: center;}
.nav-title{font-weight: 800px;font-size:45px;
}
.text-primary{color: red;}
button{color:aliceblue; width: 150px;
    height: 70px;background-color: rgb(44, 61, 138);border-radius: 5px;
border: 0ch;padding: 13px;
font-weight: 700;
    font-size: 20px;
    line-height: 27px;}
    .banner{margin 0 200px;display: flex;justify-content:space-around;align-items: center;}
    .banner-title{}
    .banner-subtitle{margin-top:5px;margin-bottom: 3px;}
    .banner-description{margin-bottom:20px ;}
    header{background-color: lightblue;background-image: url(/header_bg.png),url(/developer.png);  background-repeat: no-repeat;background-position: bottom right,left;background-size:contain;font: display 5px; }
    .about-title{text-align: center;margin-top:0px ;margin-bottom: 10px;}
    main{max-width: 1140px;margin: 0 auto }
    .about-me{margin-top: 50px;background-color: lightblue;padding: 156px;align-content: center;}
    .about-description{text-align: center;}
    .about-info{display: flex;justify-content: space-around;margin-top: 50px;}
    .Info-title{font-size: 20px;}
    .Info-des{font-weight: bold;}